@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.bright{
    --bg-body:#F5F3F4;
    --bg-card: #ffffff;
    --text:#0B090A;
    --navbar :#D3D3D3;
    --smallcard:#a7b8bac8;
}
.dark{
    --bg-body:#0B090A;
    --bg-card: #000000;
    --text: #F5F3F4;
    --navbar :#161A1D;
    --smallcard :#3A3F44;

}
.hidescroolbar{
    scrollbar-width: none;
    
}

